.SquareSpace {
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 1px black solid;
    display: inline-block;
    color: yellow;
}

.Player {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px black solid;
    display: inline-block;
    border-radius: 50%;
}

.Monster {
    width: 30px;
    height: 30px;
    background-color: brown;
    border: 1px black solid;
    color: yellow;
}

.SquareRow {
    display: inline-block;
    border: 1px black solid;
    width: 420px;
    height: 45px;
    background-color: purple;
    padding-top: 5px;
}

.Zone {
    display: inline-block;
    border: 1px black solid;
    width: 420px;
    height: 150px;
    background-color: red;
    padding-top: 5px;
}